@use '../../styles/mixins' as *;

.projects-slider {
    @include tablet {
        padding-inline: 0;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
}

#projects-slider {
    @include tablet {
        gap: 0;
    }
}

.project-container {
    @include tablet {
        flex: 0 0 100vw;
        width: 100vw;
        min-width: 100vw;
        scroll-snap-align: start;
        padding: 1rem;
    }

    &__heading {
        @include tablet {
            font-size: 2rem;
        }
    }

    &__description {
        @include tablet {
            font-size: 16px;
        }
    }
}