#hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__text-container {
    transform: translateY(-35%);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    & span {
      color: var(--blue-primary);
      display: inline-block;

      &.animate-out {
        animation: slide-out-to-top 0.3s ease-in;
        animation-fill-mode: forwards;
      }

      &.animate-in {
        animation: slide-in-from-bottom 0.3s ease-out;
        animation-fill-mode: forwards;
      }
    }

    & > div:nth-of-type(1) {
      animation: slide-in-from-bottom 0.5s ease-out;
    }

    & > div:nth-of-type(2) {
      animation: slide-in-from-bottom 0.5s ease-out 0.2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    & > div:nth-of-type(3) {
      animation: slide-in-from-bottom 0.5s ease-out 0.4s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }

  &__subheading {
    max-width: 60ch;
    opacity: 0;
    animation: slide-in-from-bottom 0.5s ease-out 0.6s;
    animation-fill-mode: forwards;

    & span {
      text-decoration: underline;
      text-decoration-color: var(--blue-primary);
    }
  }

  &__cta-button {
    background-color: var(--black-primary);
    color: var(--white-primary);
    padding: 12px;
    border: none;
    opacity: 0;
    animation: slide-in-from-bottom 0.5s ease-out 0.8s;
    animation-fill-mode: forwards;
  }

  &__slider {
    position: absolute;
    left: 0;
    width: 100vw;
    margin-block: 3rem;
  }

  .splide {
    &__track {
      padding-block: 1rem;
    }

    &__slide {
      padding-inline: 5rem;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
      }
    }
  }
}
