#hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__text-container {
    transform: translateY(-25%);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #carousel-heading {
    text-align: left;
  }

  &__heading {
    & span {
      color: var(--blue-primary);
      display: inline-block;

      &.animate-out {
        animation: slide-out-to-top 0.3s ease-in;
        animation-fill-mode: forwards;
      }

      &.animate-in {
        animation: slide-in-from-bottom 0.3s ease-out;
        animation-fill-mode: forwards;
      }
    }

    & > div:nth-of-type(1) {
      animation: slide-in-from-bottom 0.5s ease-out;
    }

    & > div:nth-of-type(2) {
      animation: slide-in-from-bottom 0.5s ease-out 0.2s;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    & > div:nth-of-type(3) {
      animation: slide-in-from-bottom 0.5s ease-out 0.4s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }

  &__subheading {
    color: var(--grey-primary);
    opacity: 0;
    animation: slide-in-from-bottom 0.5s ease-out 0.6s;
    animation-fill-mode: forwards;

    display: flex;
    gap: 1rem;
    align-items: center;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__slider-container {
    margin-inline: 0;
  }

  &__cta-button {
    background-color: var(--white-primary);
    color: var(--black-primary);
    padding: 12px;
    border: 1px solid var(--blue-primary);
    opacity: 0;
    animation: slide-in-from-bottom 0.5s ease-out 0.8s;
    animation-fill-mode: forwards;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-10px);
      background-color: var(--blue-primary);
      color: var(--white-primary);
    }
  }
}

.hero-slider {
  position: absolute;
  left: 0;
  width: 100vw;
  margin-block: 3rem;
  display: flex;

  &__track {
    display: flex;
    width: max-content;
    animation: scrolling 28s linear infinite;
  }

  &__list {
    display: flex;
  }

  &:hover .hero-slider__track {
    animation-play-state: paused;
    cursor: pointer;
  }

  &__slide {
    flex: 0 0 auto;
    padding-inline: 3rem;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      transform: translateY(-5px)
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
