@use '../../styles/mixins' as *;

#hero {
    h1 {
        @include tablet {
            font-size: 10vw;
        }

        @include mobile {
            font-size: 13vw;
        }
    }

    .subheading {
        @include mobile {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__secondary-mobile-btn {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__text-container {
        @include tablet {
            padding-block: 2.5rem;
        }
    }
}