@use "../../../styles/mixins" as *;

.offer-page {
    display: grid;
    grid-template-columns: 75% 1fr;

    &__aside {
        &__heading {
            color: var(--blue-primary);
            font-weight: 600;
        }
    }

    @include tablet {
        grid-template-columns: 1fr;

        &__main {
            padding-inline: 0;
            padding-block: 0;
            margin-bottom: 2rem;
        }

        &__aside__offer {
            margin-block: 0.5em;
        
            &-list {
                columns: 2;
            }
        }
    }
}