@use '../../styles/mixins' as *;

#clients-slider-container {
  position: relative;
  display: grid;
  grid-template-columns: 25% 1fr;
  padding-top: 0;
  column-gap: 0.5rem;
  margin-inline: 0;
  margin-left: auto;
  align-items: center;
  overflow-x: hidden;

  @include desktop {
    padding-top: 14rem;
  }

  #carousel-heading {
    text-align: right;
    margin-inline: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 2rem;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .clients-slider-wrapper {
    border-left: 1px solid  var(--blue-primary);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.1s;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.clients-slider-wrapper {
  padding-block: 1.5rem;
}

.clients-slider {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  margin-block: 3rem;

  @include desktop {
    margin-block: 0;
  }

  &__track {
    display: flex;
    width: max-content;
    animation: scrolling 28s linear infinite;
  }

  &__list {
    display: flex;
  }

  &:hover .clients-slider__track {
    animation-play-state: paused;
    cursor: pointer;
  }

  &__slide {
    flex: 0 0 auto;
    padding-inline: 3rem;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      transform: translateY(-5px)
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
