@use '../../styles/mixins' as *;

#clients-slider-container {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 7rem;

  @include desktop {
    padding-top: 14rem;
  }

  #carousel-heading {
    text-align: left;
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

.clients-slider-wrapper {
  padding-block: 1.5rem;
}

.clients-slider {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  margin-block: 3rem;

  @include desktop {
    margin-block: 0;
  }

  &__track {
    display: flex;
    width: max-content;
    animation: scrolling 28s linear infinite;
  }

  &__list {
    display: flex;
  }

  &:hover .clients-slider__track {
    animation-play-state: paused;
    cursor: pointer;
  }

  &__slide {
    flex: 0 0 auto;
    padding-inline: 3rem;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      transform: translateY(-5px)
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
