@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

#navigation {
  &__list {
    @include flex(row, center, center);
    gap: 24px;
  }

  &__container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block: 24px;
    @include flex(row, center, space-between);
  }
}
