@use "../../styles/mixins" as *;

$height: 500px;

.blog-overview {
  position: relative;
  max-width: var(--max-width);

  &__title {
    margin-bottom: 2rem;
  }
  &__container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
    grid-template-areas:
      "main-post sidebar-post-1"
      "main-post sidebar-post-2";
    position: relative;

    &__image {
      width: 100%;
      object-fit: cover;
    }

    &__categories {
      color: var(--grey-primary);
    }
  }

  &__main-post {
    grid-area: main-post;
    height: $height;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: translateY(-6px);
      > * {
        color: var(--blue-primary);
      }
    }

    img {
      flex-grow: 1;
      height: 100%;
    }

    &__content {
      position: absolute;
      padding-top: 1rem;
    }
  }

  &__sidebar-post-1 {
    grid-area: sidebar-post-1;
    padding-bottom: 1rem;
  }

  &__sidebar-post-2 {
    grid-area: sidebar-post-2;
    padding-top: 1rem;
  }

  &__sidebar-post-1 a,
  &__sidebar-post-2 a {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    height: calc(#{$height} / 2 - 1rem);
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: translateY(-6px);
      > * {
        color: var(--blue-primary);
      }
    }

    img {
      width: 40%;
      height: 100%;
    }
  }

  &__button {
    float: right;
    margin-top: 8rem !important;
  }
}
