.offer {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 3rem;
    gap: 6rem;

    &__main-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
    }
  }
  

  &__links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-top: 2.5rem;
  }
}
