@use '../../styles/mixins' as *;

.subheading {
  color: var(--grey-primary);
  opacity: 0;
  animation: slide-in-from-bottom 0.5s ease-out 0.6s;
  animation-fill-mode: forwards;

  display: flex;
  gap: 1rem;
  align-items: center;

  @include desktop {
    font-size: 0.95rem;
    flex-wrap: wrap;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include desktop {
      gap: 0;
      width: 47%;

      & > svg {
        height: 25px;
        width: 25px;
      }
    }
  }
}