@use '../../styles/mixins' as *;

#process {
  @include desktop {
    margin-top: 0;
    padding-inline: 1rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    align-self: flex-start;

    & span {
      color: var(--blue-primary);
    }
  }

  &__subtitle {
    font-weight: 400;
    width: 75ch;
    text-align: left;
    margin-block: 1.25rem;
    align-self: flex-start;
    margin-left: 1rem;

    @include desktop {
      width: 100%;
      margin-left: 0;
      line-height: 2em;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
    max-width: 1000px;
    margin-inline: auto;

    &__text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 300px;
    }
  }
}

.process-container {
  border-bottom: 1px solid var(--blue-primary);
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 2rem;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  @include desktop {
    width: 100%;
    grid-template-columns: 1fr;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &__title {
    font-weight: 400;

    span { font-size: 0.5em; margin-right: 0.75rem; }
  }

  &.visible { 
    opacity: 1;
    transform: translateY(0);
  }
}
