@use '../../styles/mixins' as *;

.contact-form {
  max-width: var(--max-width);

  @include desktop {
    padding-inline: 1rem;
    margin-top: 10rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__client-container {
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 2rem;

    @include desktop {
      grid-template-columns: 1fr;
    }
  }

  &__input {
    &--error {
        border-color: red !important;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 2rem;

    input,
    textarea {
      padding: 0.75rem;
      border: 1px solid var(--blue-primary);
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
    }

    &-asterisk {
        color: var(--blue-primary);
    }
  }

  &__contact-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__contact-details-wrapper {
    border-left: 1px solid var(--blue-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;
    padding-block: 2.5rem;
  }

  &__contact-details {
    &-figure {
      display: flex;
      align-items: flex-end;
      gap: 2rem;
      margin-block: 2rem;
    }

    &-figcaption {
      h5 {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }


    &-list-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-block: 0.5rem;
      font-size: 1.1rem;
    }
  }
}