@use '../../styles/mixins' as *;

.stats-banner {
  background-color: var(--black-primary);
  color: var(--blue-primary);
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 7rem;

  &__container {
    width: calc(var(--max-width) + 4rem);
    display: flex;
    justify-content: space-between;
  }

  &__content {
    text-align: center;
  }

  &__number {
    font-size: 7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: 1.5rem;
  }
}
